<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090207151567-vjch9838vsd25a3ttqhk3t7j1lj2sb2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090207151567-vjch9838vsd25a3ttqhk3t7j1lj2sb2k</string>
	<key>API_KEY</key>
	<string>AIzaSyAwwFaY34UZSXQEPmzkkEC0--maqm_QOrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1090207151567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laveriepriveeqrcode.laveriePriveeQrcode</string>
	<key>PROJECT_ID</key>
	<string>qrcode-app-8f2fd</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-app-8f2fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090207151567:ios:e787c368211c03ee734eba</string>
</dict>
</plist>
